@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main#router > div:first-child {
  width: 100%;
}

main#router {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);
  width: 100%;
}

.view {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);
  width: 100%;
  position: absolute;
  top: 75px;
  /*bottom: 0;*/
}
.dark .view {
  background-color: #000;
}

.view-content {
  /*background-color: #178d0c;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100vh - 75px);
  width: 100%;
}

.btn {
  @apply py-2 px-4 font-semibold rounded-lg shadow-md capitalize;
}

.btn.btn-link,
.btn.btn-disabled .btn[disabled],
.btn:disabled {
  @apply shadow-none;
}

.bg-white-force {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important;
}

.ddcontainer,
.ddcontainersource {
}
.droptarget {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.droptarget.highlighted {
  background-color: #61dafb;
}

table thead th:first-child,
table thead th:last-child {
  /*@apply rounded-none*/
  border-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.autocomplete-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  text-align: left;
}

.autocomplete-container > div {
  width: 100%;
  background-color: #1c1f25;
  padding: 5px 10px;
  border-bottom: 1px solid #383d48;
  cursor: pointer;
}
.autocomplete-container > div:hover {
  background-color: #282c34;
}
